<div id="wrapper">
	<header></header>
<div id="page-wrapper">
	<div class="panel-body">
		<div class="tab-content">
		<form ng-submit="SaveData()" role="form">
			<h5>ערים:</h5>
			<hr>
			<div class="form-group" ng-repeat="city in cities">
				<div>
					<input required style="width: 30%;margin-left: 20px; float: right;" class="form-control" placeholder="שם מגדר" ng-model="city.name">
					<input  style="width: 30%;" class="form-control" placeholder="שם עיר" ng-model="city.ArabicCityName">
				</div>
			</div>
			<button ng-click="CreateData()" style="text-align: right;border-color: #49814d; background-color: #49814d;" type="button" class="btn btn-info">הוסף עיר<img src="./img/icon-add.png" /></button>

			<hr>
			<div class="card-controls">
				<button tabindex="18" type="submit" class="button card-control commit-card-edit">שמור</button>
				<button tabindex="19" type="button" class="button card-control cancel-card-edit" ng-click="ClearData();">בטל</button>
			</div>
			<span modal-confirm control="alertcontrol" text="הנתונים נשמרו בהצלחה.">
			</span>
			
		</form>
		</div>
	</div>
	<!-- /.panel-body -->
</div>

</div>

