:root {
    --main-bg-color: #284B62;
    --main-text-color: white;
    --field-highlight-color: #1CEB97;
	--field-strong-highlight-color: #039962;
}

.registration-form-wrap{
	background-color:var(--main-bg-color);
    color: var(--main-text-color);
	position: absolute;
	width: 100%;
	height: 100%;
}

.registration-form-title{
    text-align: center;

}
#registration-form
{
    margin: 0% 10%;
    margin-top: 5%;
}

#registration-form input:hover, #registration-form select:hover
{
    background-color:var(--field-highlight-color);
}
#registration-form input:focus, #registration-form select:focus
{
    background-color:var(--field-strong-highlight-color);
}
#registration-form input, #registration-form select
{
	outline:none;
    border: none;
    border: 1px solid var(--field-highlight-color);
    background-color: var(--main-bg-color);
    transition: all 0.5s;
    width: 100%;
    margin-bottom: 1%;
}
.secondary-field{
    margin-right: 5% ;
    width: 95%;
}
.submit-registration-button{
	background-color: var(--field-highlight-color);
    border: none;
    outline: none;
    color: var(--main-text-color);
    font-size: 3em;
    font-family: Assistant;
    padding: 0% 2%;
    margin: 5% auto;
    text-align: center;
    display: block;
	transition: all 0.2s;
}
.submit-registration-button:hover{
	background-color: var(--main-text-color);
	color: var(--field-highlight-color);
}
.required:after {
    color: red;
    content: '*';
}