<Form ng-submit="register()" id="registration-form">
    <br>
    <label>
        שם פרטי:
    </label><br>
    <input required type="text" ng-model="nominee.firstname">
    <br>
    <label>
        שם משפחה:
    </label>
    <br>
    <input required type="text" ng-model="nominee.lastname">
    <br>
    <label>
        מגדר:
    </label>
    <br>
    <select required ng-model="nominee.genderid">
        <option ng-repeat="gender in genders" ng-value="gender.genderid">{{gender.name}}</option>
    </select>
    <br>
    <label>
        כתובת אימייל:
    </label><br>
    <input type="email" ng-model="nominee.email">
    <br>
    <label>
        מספר טלפון:
    </label><br>
    <input required type="text" pattern="[0-9.\-]+" ng-model="nominee.phone">
    <br>
    <label>
       מספר טלפון של הורה:
    </label><br>
    <input required type="text" pattern="[0-9.\-]+" ng-model="nominee.parentsphone">
    <br>
    <label>
       תאריך לידה:
    </label><br>
    <input required type="text" pattern="[0-9.\-\/]+" ng-model="nominee.birthday">
    <br>
    <label>
       עיר מגורים:
    </label><br>
    <select required ng-model="nominee.cityid">
        <option ng-repeat="city in cities" ng-value="city.cityid">{{city.name}}</option>
        <option value="999">אחר</option>
    </select>
    <br>
    <div class="secondary-field" ng-if="nominee.cityid==999">
        <label>
            אחר:
        </label><br>
        <input required type="text" ng-model="nominee.cityother">
        <br>
    </div>
    <label>
        עיר פעילות בתוכנית:
    </label><br>
    <select required ng-model="nominee.netacityid" ng-change="GetSchoolsByNetaCityId()">
        <option ng-repeat="NetaCity in Netacities" ng-value="NetaCity.CityId">{{NetaCity.CityName}}</option>
    </select>
    <br>

    <label>
        בית ספר:
    </label><br>
    <select required ng-model="nominee.schoolid">
        <option ng-repeat="school in schools" ng-value="school.schoolid">{{school.schoolname}}</option>
        <option value="999">אחר</option>
    </select>
    <br>
    <div class="secondary-field" ng-if="nominee.schoolid==999">
        <label>
            אחר:
        </label><br>
        <input required type="text" ng-model="nominee.schoolother">
        <br>
    </div>
    <label>
        כיתה:
    </label><br>
    <select required ng-model="nominee.classid">
        <option ng-repeat="class in Classes" ng-value="class.classid">{{class.classname}}</option>
    </select>
    <br>
    <label>
        כיצד הגעת עלינו?
    </label><br>
    <select required ng-model="nominee.hearaboutid">
        <option ng-repeat="HearAbout in HearAboutUs" ng-value="HearAbout.hearaboutid">{{HearAbout.hearaboutoption}}</option>
        <option value="999">אחר</option>
    </select>
    <br>
    <div  class="secondary-field" ng-if="nominee.hearaboutid==999">
        <label>
            אחר:
        </label><br>
        <input required type="text" ng-model="nominee.hearaboutother">
        <br>
    </div>

    <button type="submit" class="submit-registration-button"> סבבה </button>

</Form>
